<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">User Information</div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"> <strong>username:</strong> <%= @user.username %> </li>
        <li class="list-group-item"> <strong>email:</strong> <%= @user.email %> </li>
        <li class="list-group-item">
          <article><strong>about:</strong> <%= @user.about %> </article>
        </li>
      </ul>
    </div>
  </div>
</div>

Liked bikes
