<div class="container jumbo-container">
  <div class="jumbotron">
    <h1>Bike Part Picker</h1>
    <p>Building a bike and need inspiration? Want to put together your dream bike?</p>
    <p>Browse our build guides or share your own with the community.</p>

    <%= link_to new_user_path, class: "btn btn-primary" do %>
      Register
    <% end %>
  </div>
</div>
